<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "contacts-mailer", media: "all" %>
    </head>

    <body class="alert alert-primary" role="alert">
    <div class="card text-center">
      <div class="card-header">
        <h2>You have a new message from </h2>
        <h4><%= @contact.name %></h4>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @contact.name %>'s contact number : </h4> <p> <%= @contact.phone %></p><br>
          <h4>Message:</h4>
            <p class="card-text"> <br><%= @contact.message %></p>
      </div>

      <div class="card-footer text-muted">
         Clients email : <%=@contact.email %>
      </div>
    </div>

      <%= yield %>
    </body>

  </html>